body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #212121;
  line-height: 1.2;
  letter-spacing: 0.03em;
  background: #ffffff;
}
a {
  color: #212121;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}
ul,
ol {
  margin: 0px;
  padding: 0px;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
header {
  border-bottom: #ececee 1px solid;
}
header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}
.navigation {
  font-weight: 500;
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 31px;
}
.logo {
  color: #2196f3;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
}
.navigation > .logo {
  margin-right: 93px;
}
.navigation-list > li:not(:last-child) {
  margin-right: 50px;
}

.list-contacts {
  display: flex;
}
.list-contacts > li:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-item {
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
}
.navigation-link:hover,
.navigation-link:focus {
  color: #2196f3;
}
.tel-link,
.mail-link {
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
}
.tel-link:hover,
.tel-link:focus {
  color: #2196f3;
}
.mail-link:hover,
.mail-link:focus {
  color: #2196f3;
}
.mail-link::before {
  content: " ";
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-right: 11px;
  background-image: url("../images/beaty/envelope-1.svg");
  background-position: center;
  background-size: contain;
}
.tel-link::before {
  content: " ";
  display: inline-block;
  width: 10px;
  height: 16px;
  margin-right: 11px;
  background-image: url("../images/beaty/Vector.png");
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #212121;
}
/*<!--HERO--*/
.hero {
  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  outline: 1px solid black;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/beaty/Img\ \(1\)-2.jpg");
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-object {
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
  font-weight: 100;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}
.hero-button {
  letter-spacing: 0.06em;
  color: #212121;
  padding: 10px 32px;
  min-width: 200px;
  font-weight: 700;
  line-height: 1.88;
  font-family: inherit;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.heder-web {
  ont-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.136;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  background: #2196f3;
  color: #ffffff;
  cursor: pointer;
}
/*--особености--*/

.list-item-icon::before {
  content: " ";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
}
.icon-antena::before {
  background-image: url("../images/beaty/antenna\ 1.png");
}
.icon-clock::before {
  background-image: url("../images/beaty/clock\ 1.png");
}
.icon-diagram::before {
  background-image: url("../images/beaty/diagram\ 1.png");
}
.icon-space::before {
  background-image: url("../images/beaty/astronaut\ 1.png");
}
.features {
  padding-top: 88px;
  padding-bottom: 100px;
}
.features > .container {
  text-align: left;
}
.spesial-list {
  display: flex;
}
.spesial-list > li {
  width: calc((100% - (3 * 30px)) / 4);
}
.spesial-list > li:not(:last-child) {
  margin-right: 30px;
}

.spesial {
  font-weight: bold;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
  font-size: inherit;
  text-transform: uppercase;
}
.spesial-text {
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.7;
}
.spesial-her {
  font-size: 36px;
}
/*--робота--*/
.you-work {
  padding-bottom: 94px;
}
.work {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
  font-size: 36px;
}
.you-work-list {
  display: flex;
}
.you-work-*list {
  margin-right: 50px;
}
.you-work-list > li:not(:last-child) {
  margin-right: 30px;
}
.list-foto {
  display: block;
}

/*<!--команда-->*/
.list-link {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.list-item1:not(:last-child) {
  margin-right: 10px;
}

.list-social:hover,
.list-social:focus,
.social-icons:hover,
.social-icons:focus{
background-color:#2196f3;
fill: #ffffff;
}
.social-icons{
  width: 20px;
  height: 20px;
} 
.social-col{
fill: #afb1b8;
} 
}
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.team > .container {
  margin-bottom: 0;
}
.comanda-list {
  display: flex;
}
.comanda-list > li {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.comanda-list > li:not(:last-child) {
  margin-right: 30px;
}

.comanda {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
  font-size: 36px;
}
.team-foto {
  display: block;
}
.team-card {
  padding: 30px;
}
.name-comand {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187x;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
}
.comand-jobs {
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: capitalize;
}

/*--CLIENTS--*/
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
}

.clients-link {
  display: flex;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;
  fill:#afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-link:hover,
.clients-link:focus {
  fill:  #2196f3;
  border-color:  #2196f3;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.icon-logo1 {
  width: 44px;
  height: 49px;
}

.icon-logo2 {
  width: 40px;
  height: 52px;
}

.icon-logo3 {
  width: 41px;
  height: 43px;
}

.icon-logo4 {
  width: 80px;
  height: 42px;
}

.icon-logo5 {
  width: 59px;
  height: 47px;
}

.icon-logo6 {
  width: 88px;
  height: 45px;
}
/*--footer--*/
.footer .logo-2 {
  display: inline-block;
  margin-bottom: 20px;
}
.logo-2 {
  color: #2196f3;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.footer > .container {
  text-align: left;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-studio,
.footer-address {
  color: #ffffff;
}

.footer-address,
.footer-email {
  display: block;
  line-height: 1.7;
}
.footer-email:hover,
.footer-email:focus {
  color: #2196f3;
}
.element-list {
  margin-bottom: 9px;
}

.footer-address {
  margin-bottom: 9px;

  font-style: normal;
}

.footer-email {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
}
.footer-title {
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 400px;
  font-size: 14px;
  line-height: 1.14;
  color: white;
  text-transform: uppercase;
}
.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-team-item:not(:last-child) {
  margin-right: 10px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.social-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: white;
  background-color:#2196f3}


/*<!-- Наші роботи -->*/
.our-work {
  padding-top: 94px;
  padding-bottom: 94px;
}
.title-2 {
  margin-bottom: 50px;
  font-size: 36px;
}
.types-work {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}
.types-work > li:not(:last-child) {
  margin-right: 8px;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
}
.work-img {
  margin-right: 30px;
  margin-bottom: 30px;

  width: calc((100% - (2 * 30px)) / 3);

  outline: 1px solid var(--color-border-portfolio);
}

.work-img > .link,
.work-img img {
  display: block;
}

.work-img:nth-child(3n) {
  margin-right: 0;
}

.work-img:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.works {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.work-title2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}
.work-name2 {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 0;
  margin-bottom: 0;
}

.work-logos {
  text-align: left;
  padding: 20px 24px;
}
.btn-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: inherit;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  background-color: #2196f3;
  color: #ffffff;
}
